# Functions

In [2]:
from warnings import filterwarnings
filterwarnings("ignore")

# Built in functions

In [3]:
print("Hello World!")

Hello World!

In [4]:
print(3*4)

12

In [5]:
a = [1,2,3,4,5]
len(a)

5

In [6]:
sum(a)

15

In [7]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# User defined functions

In [8]:
def add(a: int|float, b: int| float) -> int|float:
    """
    This function adds two numbers
    """
    c = a + b 
    return c

In [9]:
a1 = add(3, 4)
a1

7

In [10]:
type(a1)

int

In [11]:
a2 = add(3.5, 2)
a2

5.5

In [12]:
type(a2)

float

# Arguments inside the functiiion
add(5, 7)

In [13]:
# Keyword arguments
add(a=12, b=15)

27

In [14]:
add(3, 4, 5)

TypeError: add() takes 2 positional arguments but 3 were given

In [17]:
add(4)

TypeError: add() missing 1 required positional argument: 'b'

# Varidac functions
1. func(*args)
2. *args act like a tuple here in python

In [18]:
def func(*args):
    print(args, type(args))
    for i in args:
        print(i)
        return args

In [19]:
b1 = func(2, 3)

(2, 3) <class 'tuple'>
2

In [20]:
b1

(2, 3)

In [22]:
b2 = func(4, 5, "Example" , True, 5.4, 10.5, False)

(4, 5, 'Example', True, 5.4, 10.5, False) <class 'tuple'>
4

In [23]:
b3 = func("Sarthak", "Raman", "Rahul")

('Sarthak', 'Raman', 'Rahul') <class 'tuple'>
Sarthak

# Write a function to add any amount of numbers

In [24]:
def add_multiple(*args):
    # Intialize sum to 0
    s = 0
    # Apply for loop on args
    for i in args:
        s = s + i 
        # Return the value of s
        return s

In [25]:
add_multiple(3, 5)

3

In [26]:
add_multiple(3, 4, 5, 6)

3

In [2]:
3 + 4 + 5 + 6

18

In [3]:
add_multiple(5, 6, 7, 8, 9, 10, 11)

NameError: name 'add_multiple' is not defined

In [4]:
range(1, 101)

range(1, 101)

In [7]:
c = list(range(1, 101))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# Billing Example

In [11]:
Cart1 = [
     ("Laptop", 54000, 2),
     ("Headphones", 1500, 4),
     ("Mouse", 1200, 1),
     ("Keyword", 300, 2)

]

In [15]:
def billing(cart_id: int, *args) -> int|float:
    # Intialize the total to 0
    total = 0

    # Print the cart id
    print(f"Cart Id : {cart_id}")
    # Apply for loop on args
    for product, price, qty in args:
        item_total = price*qty
        total = total + item_total
        print(f"Product : {product}, Price : {price} INR, Qty : {qty} Nos")
        print(f"Item Total : {item_total:.2f} INR")
        print("\n================================================================\n")

    # Show the total
    print(f"Final Total : {total:.2f} INR")
    return total

In [16]:
Cart1

[('Laptop', 54000, 2),
 ('Headphones', 1500, 4),
 ('Mouse', 1200, 1),
 ('Keyword', 300, 2)]